@namespace StackTrack.Shared

<div class="stacktrack-background">
    <div class="weight-plates"></div>
    <div class="gradient-overlay"></div>
    <div class="weight-stack"></div>
    <div class="geometric-accents">
        <div class="accent accent-1"></div>
        <div class="accent accent-2"></div>
        <div class="accent accent-3"></div>
        <div class="accent accent-4"></div>
    </div>
    <div class="corner-accent"></div>
    <div class="bottom-wave"></div>
</div>