@inherits LayoutComponentBase
@using StackTrack.Pages.Shared
@using StackTrack.Shared

<MudThemeProvider Theme="_currentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<BackgroundComponent />
<NavBarHidden/>

<div class="page">
    <main>
        <article >
            @Body
        </article>
    </main>
</div>

@code {
    bool _drawerOpen = true;

    private readonly MudTheme _currentTheme = new()
    {
        PaletteLight = new PaletteLight
        {
            Primary = "#df6f33",
            Secondary = "#323940",
            SecondaryDarken = "#272e34",
            SecondaryLighten = "#4a5258",
            Info = "#4a86ff",
            Success = "#3dcb6c",
            Warning = "#ffb545",
            Error = "#ff3f5f",
            AppbarBackground = "#323940",
            TextPrimary = "#323940",
            TextSecondary = "#626c77",
            Dark = "#323940",
            DarkContrastText = "#ffffff",
            Background = "#f5f7fa",
            BackgroundGray = "#eef1f6",
            Surface = "#ffffff",
            DrawerBackground = "#ffffff",
            DrawerText = "#323940",
            ActionDefault = "#767d86",
            ActionDisabled = "#c5c5c5",
            ActionDisabledBackground = "#f3f3f3",
            LinesDefault = "#dddddd",
            TableLines = "#e0e0e0",
            Divider = "#e3e8ef",
            HoverOpacity = 0.06,
            OverlayLight = "rgba(255,255,255, 0.7)",
            OverlayDark = "rgba(33,33,33, 0.4)"
        }, 
        Typography = new Typography
        {
            
            Default = new DefaultTypography
            {
                FontFamily = new[] { "Roboto", "Helvetica", "Arial", "sans-serif" },
                FontSize = ".875rem",
                FontWeight = "400",
                LineHeight = "1.43",
                LetterSpacing = ".01071em"
            },
            H6 = new H6Typography
            {
                FontWeight = "500",
                FontSize = "1.1rem",
                LineHeight = "1.6",
                LetterSpacing = ".0075em"
            }
        },
        LayoutProperties = new LayoutProperties
        {
            DefaultBorderRadius = "8px",
            DrawerWidthLeft = "260px"
        },
        Shadows = new Shadow()
    };

    void DrawerToggle() => _drawerOpen = !_drawerOpen;
}