.login-wrapper {
    display: flex;
    flex-direction: column; /* stack logo and form vertically */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffffff;
    position: relative;

}

.login-container {
    max-width: 400px;
    width: 100%;
    margin-top: 100px;
}

.logo-image {
    margin-top: -400px;
    position: absolute;
}




